.b4admin-body {
  background-color: #f3f5f7;
  /*f5f8fa*/
  font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans','Geneva','Verdana','sans-serif';
  line-height: 1.428;
}

/*
  BOOTSTRAP
*/
.bg-white {
  background-color: #fff !important;
}

.cl-white {
  color: #fff !important;
}

.table-stripedblue tbody tr:nth-of-type(odd) {
  background-color: rgba(33, 150, 243, 0.1);
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-list-divided > .media:not(.media-list-header):not(.media-list-footer), .media-list-divided .media-list-body > .media {
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

/*
   /BOOSTRAP
*/
.b4admin-topo .b4admin-menutopo {
  background-color: #385b7d !important;
  transition: margin-left 0.3s ease;
  -webkit-box-shadow: 4px 0 5px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.08);
}
.b4admin-topo .b4admin-menutopo .b4admin-title {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .b4admin-topo .b4admin-menutopo .b4admin-title {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .b4admin-topo .b4admin-menutopo .b4admin-title {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .b4admin-topo .b4admin-menutopo .b4admin-navbar-toogler {
    display: block !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .b4admin-topo .b4admin-menutopo .b4admin-navbar-toogler {
    display: block !important;
  }
}
.b4admin-topo .b4admin-menu-topo-right {
  width: 100%;
}
.b4admin-topo .b4admin-menu-topo-right .nav-link {
  color: #fff;
}
.b4admin-topo .b4admin-menu-topo-right .nav-link:hover {
  color: #ddd;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .b4admin-topo .b4admin-menu-topo-right {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .b4admin-topo .b4admin-menu-topo-right {
    width: 50%;
  }
}

.b4admin-aside {
  display: block;
  background-color: #fff;
  position: fixed;
  /*absolute*/
  left: 0;
  padding-top: 60px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,left .3s ease-in-out;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 100%;
}
.b4admin-aside .nav-link {
  color: #777;
}
.b4admin-aside .nav-link:hover {
  color: #666;
}
.b4admin-aside .b4admin-profile {
  width: 228px;
  margin-bottom: 1em;
}
.b4admin-aside .b4admin-profile .list-group-item {
  background-color: #fff !important;
}
.b4admin-aside .b4admin-profile .b4admin-profile-title {
  color: #333;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .b4admin-aside {
    left: -230px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .b4admin-aside {
    left: -230px;
  }
}
@media screen and (min-width: 1224px) {
  .b4admin-aside {
    display: block !important;
    left: 0px !important;
  }
}
@media screen and (min-width: 1824px) {
  .b4admin-aside {
    display: block !important;
    left: 0px !important;
  }
}

.b4admin-menudropdown {
  display: none;
  background-color: #eaeaea;
}
.b4admin-menudropdown .a {
  color: #5f6061;
}
.b4admin-menudropdown .b4admin-menudropdown-item {
  display: block;
  width: 100%;
  padding: .40rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #484a4c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}
.b4admin-menudropdown .b4admin-menudropdown-item:hover {
  color: #384a4c;
}

.b4admin-dropdown-open {
  background-color: #f5f5f5;
}

.b4admin-content {
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  margin-left: 230px;
  padding-top: 54px;
}
.b4admin-content .b4admin-content-toolbar {
  min-height: 44px;
  padding: 0.5em;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
}
.b4admin-content .b4admin-content-header {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.b4admin-content .b4admin-content-header h3 {
  color: #707d8a;
  font-weight: 600;
}
.b4admin-content .b4admin-content-body {
  margin-top: 1em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .b4admin-content {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .b4admin-content {
    margin: 0px;
  }
}

.b4admin-navbar-toogler {
  display: none !important;
}

.b4admin-card .b4admin-card-header {
  background-color: #fff;
}
.b4admin-card .b4admin-card-header .b4admin-card-header-title {
  font-size: 1.25em;
  font-weight: 600;
  color: #385b7d;
}
